body {
    font-family: 'Open Sans', sans-serif;
    color: #1E0606;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: rgb(8, 9, 12);
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
    color: #1E0606;
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;

}
.dots_none {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color:#000000;
    color: #fff;
    display: inline-block;
    border: none;
    padding: 9px 22px;
}

/* хедер */

.header{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 50px;
}
.header__nav{
    margin-left: 60px;
    margin-right: auto;
}
.header__list{
    display: flex;
    text-transform: uppercase;

}
.header__item{
    margin-right: 20px;
}
.header__contact{
    font-weight: 700; 
    margin-left: 24px;
    text-transform: uppercase;

}


/* футер */


h3 {
    color: #AAAAAA;
    margin: 0;
}

.footer {

    background-color: #434343;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.footer__width {
    width: 32%;
}

.navigation__text {
    border-bottom: 1px solid #666666;
    padding-bottom: 23px;
    margin-bottom: 28px;
    width: 100%;
}

.navigation__item {
    margin-bottom: 15px;
}

.navigation__item a {
    color: #FFFFFF;
}

.social__list {
    display: flex;
}

.social__item {
    margin-top: 25px;
    margin-right: 10px;
}

.navigation__final {
    display: flex;
    align-items: center;
    border-top: 1px solid #666666;
    margin-top: 28px;
    padding-top: 23px;
}

.company__rating{
    display: flex;
    flex-direction: row;
    
}

.rating {
    display: flex;
    
}
.rating button {
    background: none;
    border: none;
    margin-right: 3px;
    padding: 0px;
}

.copyright {
    color: #FFFFFF;
    margin-right: 25px;
}

.navigation__final a {
    color: #A2A2A2;
}