header {
    background-color: aqua;
}
.header__nav {
    background-color: burlywood;
}
.header__item a{
color: rgb(8, 9, 12);
}
.main-banner__info {
    background-color: #C29974;
}
.button {
    background-color: crimson;
}
footer {
    background-color: #434343;
}